h2 {
    color: white;
}

input {
    margin: 2rem;
    padding: 12px;
    font-family: '8BIT WONDER', sans-serif;
}

h3 {
    font-family: '8BIT WONDER', sans-serif;
}

button {
    font-family: '8BIT WONDER', sans-serif;
    padding: 5px;
}